<h5>Products List</h5>
<!-- <table>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Product Image</th>
        <th>Product Category</th>
        <th>Product Price</th>
        <tr *ngFor="let Product of products">
            <td>{{Product.productId}}</td>
            <td>{{Product.productName | titlecase}}</td>
            <td class="img-hover-zoom"><img class="images" src="{{Product.productImage}}"/></td>
            <td>{{Product.productCategory | titlecase}}</td>
            <td>{{Product.productPrice| currency:'INR'}}</td>
        </tr>
    </table>  -->
<br />
<br />
<br />
<br />
<div class="row">
    <div *ngFor="let Product of products" class="card" style="width: 14rem">
        <td class="img-hover-zoom"><img class="card-img-top img-hover-zoom" src="{{Product.productImage}}" alt="Card image cap"></td>
        <div class="card-body">
            <h5 class="card-text">{{Product.productName | titlecase }}</h5>
            <h6 class="card-text">Id: {{Product.productId}}</h6>
            <h6 class="card-text">Category: {{Product.productCategory | titlecase}}</h6>
            <h6 class="card-text">Price: {{Product.productPrice | currency:'INR'}}</h6>
        </div>
    </div>
</div>